<!DOCTYPE html>
<html>
<head>
	<title>Survey Form</title>
</head>
<body>
	<h3>Submitted Information:</h3>
	Name: <%= name %> <br>
	Dojo Location: <%= location %> <br>
	Favorite Language: <%= language %> <br>
	Comment (optional): <%= comment %> <br>
</body>
</html>